* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
}

.root {
    
    /* background-color: blue; */
}

.tela-principal {
    background-color: #FB6B6B;
    width: 203px;
    height: 100vw;
    padding-bottom: 100px;
    position: relative;
}

.mostrar {
    position: absolute;
    z-index: 5;
}

/* TELA INICIAL  */

.pagina-inicial {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 90px;  
}

.pagina-inicial img {
    width: 55px;
    height: 65px;
}

.pagina-inicial-texto {
    color: #FFFFFF;
    font-family: righteous;
    font-size: 25px;
}

.pagina-inicial-botao {
    width: 141px;
    height: 31px;
    border-radius: 5px;
    margin-top: 73px;
}

.botao-texto{
    font-family: recursive;
    font-size: 12px;
    font-weight: 400;
    color: #D70900;
}

.escondido {
    display: none;
}

/* TELA DE FLASHCARDS */

.cabeçalho {
    display: flex;
    justify-content: center;
    padding-top: 22px;
}

.tela-2 img {
    width: 26px;
    height: 30px;
}

.tela-2-texto {
    color: #FFFFFF;
    font-family: righteous;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.perguntas {
    width: 182px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 6px;
    padding-right: 12px;
}

.perguntas p {
    font-family: recursive;
    font-weight: 700;
    font-size: 12px;
    color: #333333;
}

.perguntas-icone {
    font-size: 13px;
}

.concluidos {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    width: 203px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.concluidos p {
    font-family: recursive;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
}

.concluidos-icones {
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

/* FLASHCARD FRENTE */

.flashcard {
    width: 182px;
    height: 80px;
    border-radius: 5px;
    background-color: #FFFFD5;
    margin-bottom: 14px;
    padding-left: 6px;
    padding-right: 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}

.costas {
    height: 100px;
}

.flashcard p {
    font-family: recursive;
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    padding-top: 13px;
}

.flashcard-flip {
    position: absolute;
    bottom: 7px;
    right: 8px;
}

/* FLASHCARD TRÁS */

.respostas {
    display: flex;
    justify-content: space-between;
}

.resposta {
    width: 55px;
    height: 24px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;   
}

.resposta span {
    font-family: recursive;
    font-weight: 400;
    font-size: 7px;
    color: #FFFFFF;
    text-align: center;
}


.vermelho {
    background-color: #FF3030;
}

.laranja {
    background-color: #FF922E;
}

.verde { 
    background-color: #2FBE34;
}

.respondido {
    text-decoration: line-through;
    /* ativar a classe da resposta */
}

.icone-vermelho {
    color:#FF3030;
}


.icone-laranja {
    color:#FF922E;
}


.icone-verde {
    color:#2FBE34;
}



